body{
    margin:0;
    overflow:hidden;
    background-color:black;

}

#holder{
    border: 10px dashed #ccc;
    width: 150px;
    height: 150px;
    margin: 20px auto;

}

#holder.hover{
    border: 10px dashed #333;
}
